*{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
}

.header-container{
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(131,117,244);
    margin: center;
    position: relative;
}

.header-container span{
    color: rgb(131, 117, 244);
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.compra-container .data-compra , .data-venta{
    display: flex;
}

.data-title{
    color: rgb(164, 164, 164);
    text-transform: none;
    font-weight:100;
}

.data-value{
    font-size: 1.1rem;
}

.last-update{
    position: absolute;
    top: 75%;
    left: 12%;
    color: rgb(193, 193, 193);
    margin-left: 20px;
}

#dateTimeLastUpdate{
    color: rgb(193, 193, 193);
    font-size: 12px;
}

#tabla-registros{
    margin-top: 50px;
    width: 98vw;
    background-color: rgb(191, 191, 191);
    text-align: center;
    border: 1px solid grey;
    max-height: 310px;
    display: block;
    overflow-y: auto;


}

#tabla-registros th{
    margin-top: 5px;
    height: 20px;
    /* background-color: rgb(152, 152, 152); */
    background-color: rgb(131, 117, 244);
    padding: 8px 0px;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: sticky;
    top: 0;
    width: 30%;
}





#tabla-registros tr{
    /* background-color: rgb(186, 186, 186); */
    background-color: white;
    font-family: arial;
    margin-top: 20px;
    font-weight: bold;  
}

#tabla-registros tr:nth-child(odd){
    background-color: rgb(231, 231, 231);
}

#tabla-registros tr td{
    padding: 5px 0px;
    height: 20px;
}


#trData{
    background-color: white;
}


.positivo{
    color: rgb(3, 194, 61);
}

.negativo{
    color: rgb(194, 3, 3);
}